header {
  /* padding: 5px; */
}

.circle {
  height: 30px;
  width: 30px;
  background-color: var(--header);
  border-radius: 50%;
  margin: 10px 0 15px 35px;
}

hr {
  height: 3px;
  outline: none;
  border: none;
  background-color: var(--header);
}