/* @import "tailwindcss"; */
@font-face {
  font-family: 'Josefin Sans';
  src: url('../../public/Font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: Inter;
  src: url('../../public/Font/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

* {
  font-family: 'Josefin Sans';
}

:root {
  --background: #ffffff;
  --header: #333366;
  --header-hover: #282851;
  --button1: #EAEFF7;
  --button1-border: #12203F;
  --button1-hover: #dee7f6;
  --txt-color: #000000;
  --pstl-grn: #c5f5b7;
  --pstl-prpl: #dbc1fc;
  --pstl-blue: #c1e7fc;
  --red: #c50a0a;
}

body {
  background: var(--background);
  color: var(--header);
  height: 100vh;
  overflow: hidden;
}
